<!DOCTYPE HTML>
<html>
<head>
    <title>eChatBot</title>
    <style>
        textarea {
            width: 100%;
            height: 150px;
            display: block;
        }

        form span {
            width: 400px;
        }
    </style>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
</head>
<body>
<h2>eChatBot Application</h2>
<form id="webhookForm" onsubmit="return false;">
    <div>
        <span>Query:</span>
        <input type="text" name="query" value="hello"/>
        <button name="button" onclick="sendRequest(this.form)">Send Request</button>
    </div>
    <div id="response"><!--<textarea name="response" readonly="readonly"></textarea>--></div>

    <div id="ItemPreview"></div>
</form>

<script>
    function sendRequest(form) {
        var query = form.elements['query'].value;
        if (query == null || query == "") {
            return;
        }
        $("div#response").append("<p> you: " + query + "</p>");

        $(document).ready(function () {

            $.get({
                type: 'get',
                url: '/eChatBot/conversations',
                data: 'query=' + query,
                success: function (data) {
                    console.log(data);
                    $("div#response").append("<p> chatBot:" + data.reply + "</p>");

                    if (data.bytes != null) {
                        $("div#ItemPreview").append('<img  id="sample-image" scr=""  height="200" width="200"/>');
                        document.getElementById("sample-image").src = "data:image/png;base64," + data.bytes;
                        data.bytes = "";
                    }
                }
            });
        });
        return false;
    }
</script>
</body>
</html>
